.container {
  margin: 0 14px;
}

.form {
  display: flex;
  gap: 24px;
  width: 100%;
}

.form input {
  border: 0;
  border-radius: 4px;
  height: 44px;
  padding: 0 8px;
  outline: none;
  width: 100%;
}
.form button {
  background-color: transparent;
}

table {
  border-collapse: separate;
  border-spacing: 0 14px;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

table caption {
  font-size: 16px;
  margin: 0.5em 0 0.75em;
}

th {
  color: #fff;
}
.tr {
  background-color: #1d1c20;
}

td:first-child,
th:first-child {
  border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child {
  border-radius: 0 8px 8px 0;
}

table th,
table td {
  padding: 14px;
  text-align: center;
}

.tdLabel {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.tdProfit {
  color: #12f98a;
  font-weight: bold;
}

.tdLoss {
  color: #f91257;
  font-weight: bold;
}
.tdActions button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.buttonMore {
  background-color: #30beff;
  border-radius: 8px;
  padding: 8px 24px;
  color: #fff;
  margin: 14px 0;
  cursor: pointer;
}

.logo {
  height: 20px;
  width: 20px;
  transition: all 1s;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.5);
  z-index: 99;
}

.name {
  align-items: center;
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .name img {
    margin-left: 14px;
  }
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 14px;
  }
  table td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    display: block;
    font-size: 14px;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
  td:first-child,
  th:first-child {
    border-radius: 0;
  }

  td:last-child,
  th:last-child {
    border-radius: 0;
  }
}
