.container {
  padding: 0 14px;
  color: #fff;
}
.center {
  text-align: center;
  margin-bottom: 14px;
}

.content {
  background-color: #0f0f0f;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  margin: 24px auto;
  max-width: 420px;
  padding: 24px;
}

.logo {
  width: 60px;
  height: 60px;
  transition: all 1s;
}

.logo:hover {
  transform: rotate(360deg);
}

.protift {
  color: #12f98a;
}
.Loss {
  color: #f91257;
}
