* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #18171c;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
